# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Virtual Environments ---
venv/
env/
.env
.venv/

# --- Project Data ---
data/

# --- IDE Settings ---
.idea/
*.swp

# --- OS Specific ---
.DS_Store
Thumbs.db